.Name  {
    
}
.style{
    color: black 
}
.firm {
    border: 1px solid rgb(61, 51, 160);
    border-radius: 5px;
}
.Icons {
    padding: 30px;
    border:1px solid black;
    width:50%;
    align-items: center;
  justify-items: center;
  margin-top: 15px !important;
    border-radius: 10px;
}
    
   

.button1 {
    border: 2px;
}
.size {
    width: 90px;
    height: 50px;
    margin-bottom: 2px;
}

.modalEdit{
    border-radius: 20px;
}
label {
    color: black;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.btn-primary {
    padding: 5px;
    margin-top: 17px;
}