.search-main{
    height: 76px;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 62px;
    font-weight: 700;
    margin-right: 100px;
    margin-left: 100px;
}
select {
    width: 132% !important;
    height: 35px;
    border-radius: 11px;
    font-weight: 500;
    color: lightcoral;
    background: rgb(59 181 28 / 14%);
}
.style2 {
    background: green !important;
    border-radius: 14px;
    height: 41px;

}
.cad {
    width: 23%;
    height: 146px;
    background-color: aqua;
}
.cad1 {
   
    display: flex;
    justify-content: space-evenly;

}
.station {
    font-weight: 800;
}
.data {
    padding: 3px;
    font-weight: 500;
}
.pic {
    width: 200px;
     height: 150px;
}
.bi {
    border:1px solid black;
    padding: 13px;
    border-radius: 10px;
    padding-top: 11px;
    margin-top: 18px;
}
.rounded {
    border-radius: 50%;
}
.package {
  justify-content: space-between;
  gap: 10px; 
}
.package1{
    display: flex;
  justify-content: space-between;
  gap: 10px; 
}
.photo{
    width: 100%;
    height: 50%;
}

.card-title {
    color: gray;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.package3{
    display: flex;
    justify-content: space-between;
    margin-right: 123px;
}
.card-text {
    color: black;
}

.custom {
    border-collapse: separate; /* Allows spacing between cells */
    border-spacing: 3px; /* Set the amount of spacing between cells (adjust as needed) */
    
  }
  .custom th {
    background-color: #f2f2f2; /* Example background color for header cells */
    padding: 10px; /* Add some padding to header cells for better appearance */
    border: 2px solid rgb(220, 188, 188);
  }
  .custom td {
    padding: 10px; /* Add padding to data cells for better appearance */
    border:2px solid #e2d4d4;
  }