.title {
    padding: 278px;
    color: red;
    padding-left: 9px;
}
.cad1 {
   
    display: flex;
    justify-content: space-evenly;

}
.modal-buttons {
    display: flex;
    justify-content: space-around;
}